<!DOCTYPE html>
<html lang="ru">
<head>
        <title>{% block title %}No problem{% endblock %}</title>
        {% include 'partials/misc/_meta.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/croppie.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/select2.css') }}">
    {% endblock %}
    {% block javascripts_header %}
        <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ asset('assets/js/dependableList.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/croppie.min.js') }}"></script>
        <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block javascripts_footer %}
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
</body>
</html>
