<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img class="logo logo_menu" src="{{ asset('assets/img/logo.svg') }}" alt="">

    {% if cityName is not defined  %}
        {% set cityName = 'Город не выбран' %}
    {% endif %}

    {% if cityName is defined and cityName is null  %}
        {% set cityName = 'Город не выбран' %}
        <script>
            const cityName = JSON.parse('{{ cityName|json_encode()|raw }}')
        </script>
    {% else %}
        <script>
            const cityName = JSON.parse('{{ cityName|json_encode()|raw }}')
        </script>
    {% endif %}

    <div class="sidenav_container">
        {% if is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('app_lk_employee') }}">Профиль</a>
            <div id="menu-set-city" data-trans="{{ cityName | json_encode() }}"></div>
            <a href="{{ path('app_my_jobs') }}">Мои вакансии</a>
            <a href="{{ path('app_selected_profiles') }}">Избранные анкеты</a>
            <a href="{{ path('app_all_workers') }}">Все анкеты</a>
            <a href="{{ path('app_all_jobs') }}">Все вакансии</a>
{#            <a href="#">Мои курсы</a>#}
            <a href="{{ path('app_history') }}">История платежей</a>
            <a href="{{ path('app_support') }}">Служба поддержки</a>
            <a href="{{ path('app_tarifs') }}">Тарифы</a>
            <a href="{{ path('app_logout') }}">Выход</a>
        {% elseif is_granted('ROLE_CUSTOMER') %}
            <a href="{{ path('app_lk_customer') }}">Профиль</a>
            <div id="menu-set-city" data-trans="{{ cityName | json_encode() }}"></div>
            <a href="{{ path('app_my_worksheets') }}">Мои анкеты</a>
            <a href="{{ path('app_all_workers') }}">Все анкеты</a>
            <a href="{{ path('app_selected_jobs') }}">Избранные вакансии</a>
            <a href="{{ path('app_all_jobs') }}">Все вакансии</a>
{#            <a href="#">Мои курсы</a>#}
            <a href="{{ path('app_history') }}">История платежей</a>
            <a href="{{ path('app_support') }}">Служба поддержки</a>
            <a href="{{ path('app_tarifs') }}">Тарифы</a>
            <a href="{{ path('app_logout') }}">Выход</a>
        {% elseif is_granted('ROLE_BUYER') %}
            <a href="{{ path('app_lk_buyer') }}">Профиль</a>
            <div id="menu-set-city" data-trans="{{ cityName | json_encode() }}"></div>
            {# <a href="#">Мои вакансии</a>
            <a href="#">Избранные анкеты</a>#}
{#            <a href="#">Мои курсы</a>#}
            <a href="{{ path('app_history') }}">История платежей</a>
            <a href="{{ path('app_support') }}">Служба поддержки</a>
            <a href="{{ path('app_tarifs') }}">Тарифы</a>
            <a href="{{ path('app_logout') }}">Выход</a>
        {% elseif is_granted('ROLE_SUPER_ADMIN') %}
            <div id="menu-registration"></div>
            <div id="menu-set-city" data-trans="{{ cityName | json_encode() }}"></div>
            <a href="{{ path('app_all_jobs') }}">Все вакансии</a>
            <a href="{{ path('app_all_workers') }}">Все анкеты</a>
            <a href="{{ path('app_company') }}">О компании</a>
            <a href="{{ path('app_tarifs') }}">Тарифы</a>
            <a href="{{ path('admin') }}">Панель управления</a>
            <a href="{{ path('app_logout') }}">Выход</a>
        {% else %}
            <div id="menu-auth"></div>
            <div id="menu-registration"></div>
            <div id="menu-set-city" data-trans="{{ cityName | json_encode() }}"></div>
            <a href="{{ path('app_all_jobs') }}">Все вакансии</a>
            <a href="{{ path('app_all_workers') }}">Все анкеты</a>
            <a href="{{ path('app_company') }}">О компании</a>
            <a href="{{ path('app_tarifs') }}">Тарифы</a>
        {% endif %}
    </div>

    <div class="cocial_network">
        <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">
            <img src="{{ asset('assets/img/instagram.svg') }}" class="lazyLoad isLoaded" alt="">
        </a>
        <a href="/vacancies" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">
            <img data-v-75e54aca=""  src="{{ asset('assets/img/youtube.svg') }}" class="lazyLoad isLoaded" alt="">
        </a>
        <a href="/vacancies" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">
            <img src="{{ asset('assets/img/facebook.svg') }}"class="lazyLoad isLoaded" alt="">
        </a>
    </div>
</div>